In [1]:
import pyspark
from pyspark.sql import SparkSession

import pandas as pd

In [2]:
from pyspark.sql import types
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName('test') \
        .getOrCreate()

spark_df = spark.read \
            .format('csv') \
            .option('header', 'true') \
            .option('inferSchema','true') \
            .load("../../1_ingestion/data/dataframe.csv")  # just writing for reference, add your own absolute path

In [4]:
spark_df.printSchema()

root
 |-- CRASH DATE: string (nullable = true)
 |-- CRASH TIME: string (nullable = true)
 |-- BOROUGH: string (nullable = true)
 |-- ZIP CODE: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- ON STREET NAME: string (nullable = true)
 |-- CROSS STREET NAME: string (nullable = true)
 |-- OFF STREET NAME: string (nullable = true)
 |-- NUMBER OF PERSONS INJURED: string (nullable = true)
 |-- NUMBER OF PERSONS KILLED: integer (nullable = true)
 |-- NUMBER OF PEDESTRIANS INJURED: integer (nullable = true)
 |-- NUMBER OF PEDESTRIANS KILLED: integer (nullable = true)
 |-- NUMBER OF CYCLIST INJURED: integer (nullable = true)
 |-- NUMBER OF CYCLIST KILLED: string (nullable = true)
 |-- NUMBER OF MOTORIST INJURED: string (nullable = true)
 |-- NUMBER OF MOTORIST KILLED: integer (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 1: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 2: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 3: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 4: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 5: string (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- VEHICLE TYPE CODE 1: string (nullable = true)
 |-- VEHICLE TYPE CODE 2: string (nullable = true)
 |-- VEHICLE TYPE CODE 3: string (nullable = true)
 |-- VEHICLE TYPE CODE 4: string (nullable = true)
 |-- VEHICLE TYPE CODE 5: string (nullable = true)

In [5]:
columns_to_drop = ['LATITUDE','LONGITUDE','LOCATION','CROSS STREET NAME','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5','VEHICLE TYPE CODE 2','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5']

spark_df = spark_df.drop(*columns_to_drop)

In [6]:
spark_df.show()

+----------+----------+---------+--------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+------------+--------------------+
|CRASH DATE|CRASH TIME|  BOROUGH|ZIP CODE|      ON STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|COLLISION_ID| VEHICLE TYPE CODE 1|
+----------+----------+---------+--------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+------------+--------------------+
|09/11/2021|      2:39|     NULL|    NULL|WHITESTONE EXPRES...|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Aggressive Drivin...|     4455765|               Sedan|
|03/26/2022|     11:45|     NULL|    NULL|QUEENSBORO BRIDGE...|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|            Pavement Slippery|     4513547|               Sedan|
|06/29/2022|      6:55|     NULL|    NULL|  THROGS NECK BRIDGE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|     4541903|               Sedan|
|09/11/2021|      9:35| BROOKLYN|   11208|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|     4456314|               Sedan|
|12/14/2021|      8:13| BROOKLYN|   11233|     SARATOGA AVENUE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                         NULL|     4486609|                NULL|
|04/14/2021|     12:47|     NULL|    NULL|MAJOR DEEGAN EXPR...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|     4407458|                Dump|
|12/14/2021|     17:05|     NULL|    NULL|BROOKLYN QUEENS E...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|     4486555|               Sedan|
|12/14/2021|      8:17|    BRONX|   10475|                NULL|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|     4486660|               Sedan|
|12/14/2021|     21:10| BROOKLYN|   11207|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Driver Inexperience|     4487074|               Sedan|
|12/14/2021|     14:58|MANHATTAN|   10017|            3 AVENUE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|     4486519|               Sedan|
|12/13/2021|      0:34|     NULL|    NULL|       MYRTLE AVENUE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Passing or Lane U...|     4486934|Station Wagon/Spo...|
|12/14/2021|     16:50|   QUEENS|   11413|SPRINGFIELD BOULE...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|           Turning Improperly|     4487127|               Sedan|
|12/14/2021|      8:30|     NULL|    NULL|            broadway|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Unsafe Lane Changing|     4486634|Station Wagon/Spo...|
|12/14/2021|      0:59|     NULL|    NULL|        BELT PARKWAY|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                 Unsafe Speed|     4486564|               Sedan|
|12/14/2021|     23:10|   QUEENS|   11434|NORTH CONDUIT AVENUE|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|     4486635|               Sedan|
|12/14/2021|     17:58| BROOKLYN|   11217|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|     4486604|              Tanker|
|12/14/2021|     20:03| BROOKLYN|   11226|                NULL|                        4|                       0|                            0|                           0|                        0|                       0|                         4|                        0|             Steering Failure|     4486991|               Sedan|
|12/14/2021|      1:28|     NULL|    NULL|       MEEKER AVENUE|                        3|                       0|                            0|                           0|                        0|                       0|                         3|                        0|         Traffic Control D...|     4486284|Station Wagon/Spo...|
|12/11/2021|     19:43|    BRONX|   10463|WEST KINGSBRIDGE ...|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                  Unspecified|     4487040|Station Wagon/Spo...|
|12/14/2021|     14:30|     NULL|    NULL|WHITESTONE EXPRES...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|     4486537|Station Wagon/Spo...|
+----------+----------+---------+--------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+------------+--------------------+
only showing top 20 rows

In [7]:
spark_df.count()

2076253

In [8]:
spark_df.columns

['CRASH DATE',
 'CRASH TIME',
 'BOROUGH',
 'ZIP CODE',
 'ON STREET NAME',
 'NUMBER OF PERSONS INJURED',
 'NUMBER OF PERSONS KILLED',
 'NUMBER OF PEDESTRIANS INJURED',
 'NUMBER OF PEDESTRIANS KILLED',
 'NUMBER OF CYCLIST INJURED',
 'NUMBER OF CYCLIST KILLED',
 'NUMBER OF MOTORIST INJURED',
 'NUMBER OF MOTORIST KILLED',
 'CONTRIBUTING FACTOR VEHICLE 1',
 'COLLISION_ID',
 'VEHICLE TYPE CODE 1']

In [9]:
BUCKET = 'raw-bucket-911'
FILE_NAME = 'proccessed_collisions'
OUTPUT_PATH = "C:/Users/adity/Downloads/dataframe"

for column in spark_df.columns:
    spark_df = spark_df \
            .withColumnRenamed(column, column.lower().replace(' ', '_'))
    
spark_df = spark_df \
        .withColumnRenamed('on_street_name', 'street_name') \
        .withColumnRenamed('number_of_persons_injured', 'persons_injured') \
        .withColumnRenamed('number_of_persons_killed', 'persons_killed') \
        .withColumnRenamed('number_of_pedestrians_injured', 'pedestrians_injured') \
        .withColumnRenamed('number_of_pedestrians_killed', 'pedestrians_killed') \
        .withColumnRenamed('number_of_cyclist_injured', 'cyclists_injured') \
        .withColumnRenamed('number_of_cyclist_killed', 'cyclists_killed') \
        .withColumnRenamed('number_of_motorist_injured', 'motorists_injured') \
        .withColumnRenamed('number_of_motorist_killed', 'motorists_killed') \
        .withColumnRenamed('contributing_factor_vehicle_1', 'contributing_factor') \
        .withColumnRenamed('vehicle_type_code_1', 'vehicle_type')

spark_df = spark_df.withColumn("borough", F.col("borough").cast("string")) \
    .withColumn("street_name", F.col("street_name").cast("string")) \
    .withColumn("contributing_factor", F.col("contributing_factor").cast("string")) \
    .withColumn("vehicle_type", F.col("vehicle_type").cast("string")) \
    .withColumn('crash_time', F.date_format(F.col('crash_time'), 'HH:mm:ss')) \
    .withColumn("crash_date", F.to_date(F.col("crash_date"),"MM/dd/yyyy")) \
    .withColumn('timestamp', F.to_timestamp(F.concat(F.col('crash_date'), F.lit(' '), F.col('crash_time')), 'yyyy-MM-dd HH:mm:ss')) \
    .withColumn("zip_code", F.col("zip_code").cast("int")) \
    .withColumn("persons_injured", F.col("persons_injured").cast("int")) \
    .withColumn("persons_killed", F.col("persons_killed").cast("int")) \
    .withColumn("pedestrians_injured", F.col("pedestrians_injured").cast("int")) \
    .withColumn("pedestrians_killed", F.col("pedestrians_killed").cast("int")) \
    .withColumn("cyclists_injured", F.col("cyclists_injured").cast("int")) \
    .withColumn("cyclists_killed", F.col("cyclists_killed").cast("int")) \
    .withColumn("motorists_injured", F.col("motorists_injured").cast("int")) \
    .withColumn("motorists_killed", F.col("motorists_killed").cast("int")) \
    .withColumn("collision_id", F.col("collision_id").cast("int"))

spark_df = spark_df.na.drop()

In [10]:
spark_df.show()

+----------+----------+-------------+--------+--------------------+---------------+--------------+-------------------+------------------+----------------+---------------+-----------------+----------------+--------------------+------------+--------------------+-------------------+
|crash_date|crash_time|      borough|zip_code|         street_name|persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|cyclists_injured|cyclists_killed|motorists_injured|motorists_killed| contributing_factor|collision_id|        vehicle_type|          timestamp|
+----------+----------+-------------+--------+--------------------+---------------+--------------+-------------------+------------------+----------------+---------------+-----------------+----------------+--------------------+------------+--------------------+-------------------+
|2021-12-14|  14:58:00|    MANHATTAN|   10017|            3 AVENUE|              0|             0|                  0|                 0|               0|              0|                0|               0| Passing Too Closely|     4486519|               Sedan|2021-12-14 14:58:00|
|2021-12-14|  16:50:00|       QUEENS|   11413|SPRINGFIELD BOULE...|              0|             0|                  0|                 0|               0|              0|                0|               0|  Turning Improperly|     4487127|               Sedan|2021-12-14 16:50:00|
|2021-12-14|  23:10:00|       QUEENS|   11434|NORTH CONDUIT AVENUE|              2|             0|                  0|                 0|               0|              0|                2|               0|Reaction to Uninv...|     4486635|               Sedan|2021-12-14 23:10:00|
|2021-12-11|  19:43:00|        BRONX|   10463|WEST KINGSBRIDGE ...|              1|             0|                  0|                 0|               0|              0|                1|               0|         Unspecified|     4487040|Station Wagon/Spo...|2021-12-11 19:43:00|
|2021-12-13|  06:30:00|       QUEENS|   11372|           82 STREET|              0|             0|                  0|                 0|               0|              0|                0|               0|         Unspecified|     4486967|               Sedan|2021-12-13 06:30:00|
|2021-12-13|  17:40:00|STATEN ISLAND|   10301|   VICTORY BOULEVARD|              1|             0|                  0|                 0|               0|              0|                1|               0|         Unspecified|     4487001|               Sedan|2021-12-13 17:40:00|
|2021-12-14|  17:31:00|     BROOKLYN|   11230|      EAST 18 STREET|              1|             0|                  1|                 0|               0|              0|                0|               0|         Unspecified|     4486516|               Sedan|2021-12-14 17:31:00|
|2021-12-14|  12:54:00|     BROOKLYN|   11217|       FULTON STREET|              1|             0|                  0|                 0|               1|              0|                0|               0|         Unspecified|     4487052|               Sedan|2021-12-14 12:54:00|
|2021-12-14|  17:15:00|     BROOKLYN|   11211|        GRAND STREET|              1|             0|                  0|                 0|               0|              0|                1|               0|Passing or Lane U...|     4486556|                 Bus|2021-12-14 17:15:00|
|2022-04-24|  21:40:00|        BRONX|   10452|      BOSCOBEL PLACE|              0|             0|                  0|                 0|               0|              0|                0|               0| Alcohol Involvement|     4522156|                Taxi|2022-04-24 21:40:00|
|2022-04-24|  17:45:00|        BRONX|   10466| BRONX RIVER PARKWAY|              0|             0|                  0|                 0|               0|              0|                0|               0|Driver Inattentio...|     4521633|               Sedan|2022-04-24 17:45:00|
|2022-04-24|  00:00:00|        BRONX|   10453|MAJOR DEEGAN EXPR...|              0|             0|                  0|                 0|               0|              0|                0|               0|Driver Inattentio...|     4521801|               Sedan|2022-04-24 00:00:00|
|2022-04-24|  15:35:00|    MANHATTAN|   10019|      WEST 56 STREET|              1|             0|                  0|                 0|               1|              0|                0|               0|View Obstructed/L...|     4521853|Station Wagon/Spo...|2022-04-24 15:35:00|
|2022-04-22|  12:00:00|     BROOKLYN|   11230|            AVENUE J|              1|             0|                  0|                 0|               0|              0|                1|               0|         Unspecified|     4522228|               Sedan|2022-04-22 12:00:00|
|2022-04-24|  04:20:00|     BROOKLYN|   11221|       THROOP AVENUE|              1|             0|                  0|                 0|               0|              0|                1|               0|Traffic Control D...|     4522167|Station Wagon/Spo...|2022-04-24 04:20:00|
|2022-04-12|  19:56:00|     BROOKLYN|   11203|        UTICA AVENUE|              1|             0|                  1|                 0|               0|              0|                0|               0|Failure to Yield ...|     4522136|Station Wagon/Spo...|2022-04-12 19:56:00|
|2022-04-24|  15:21:00|       QUEENS|   11101|      THOMSON AVENUE|              1|             0|                  0|                 0|               0|              0|                1|               0|Driver Inattentio...|     4521590|               Sedan|2022-04-24 15:21:00|
|2022-04-24|  21:00:00|       QUEENS|   11106|           21 STREET|              1|             0|                  0|                 0|               0|              0|                1|               0|Driver Inattentio...|     4521684|               Sedan|2022-04-24 21:00:00|
|2022-04-24|  21:40:00|       QUEENS|   11418|      JAMAICA AVENUE|              0|             0|                  0|                 0|               0|              0|                0|               0|Reaction to Uninv...|     4521858|           Ambulance|2022-04-24 21:40:00|
|2022-04-07|  14:14:00|    MANHATTAN|   10017|            1 AVENUE|              0|             0|                  0|                 0|               0|              0|                0|               0|Driver Inattentio...|     4522242|               Sedan|2022-04-07 14:14:00|
+----------+----------+-------------+--------+--------------------+---------------+--------------+-------------------+------------------+----------------+---------------+-----------------+----------------+--------------------+------------+--------------------+-------------------+
only showing top 20 rows

In [11]:
spark_df.count()

1107159

In [12]:
spark_df.printSchema()

root
 |-- crash_date: date (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- street_name: string (nullable = true)
 |-- persons_injured: integer (nullable = true)
 |-- persons_killed: integer (nullable = true)
 |-- pedestrians_injured: integer (nullable = true)
 |-- pedestrians_killed: integer (nullable = true)
 |-- cyclists_injured: integer (nullable = true)
 |-- cyclists_killed: integer (nullable = true)
 |-- motorists_injured: integer (nullable = true)
 |-- motorists_killed: integer (nullable = true)
 |-- contributing_factor: string (nullable = true)
 |-- collision_id: integer (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [13]:
spark_df.repartition(1).write.parquet(OUTPUT_PATH, mode='overwrite')

In [14]:
df = spark.read.parquet(OUTPUT_PATH)

In [15]:
df.show()

+----------+----------+-------------+--------+--------------------+---------------+--------------+-------------------+------------------+----------------+---------------+-----------------+----------------+--------------------+------------+--------------------+-------------------+
|crash_date|crash_time|      borough|zip_code|         street_name|persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|cyclists_injured|cyclists_killed|motorists_injured|motorists_killed| contributing_factor|collision_id|        vehicle_type|          timestamp|
+----------+----------+-------------+--------+--------------------+---------------+--------------+-------------------+------------------+----------------+---------------+-----------------+----------------+--------------------+------------+--------------------+-------------------+
|2021-12-14|  14:58:00|    MANHATTAN|   10017|            3 AVENUE|              0|             0|                  0|                 0|               0|              0|                0|               0| Passing Too Closely|     4486519|               Sedan|2021-12-14 14:58:00|
|2021-12-14|  16:50:00|       QUEENS|   11413|SPRINGFIELD BOULE...|              0|             0|                  0|                 0|               0|              0|                0|               0|  Turning Improperly|     4487127|               Sedan|2021-12-14 16:50:00|
|2021-12-14|  23:10:00|       QUEENS|   11434|NORTH CONDUIT AVENUE|              2|             0|                  0|                 0|               0|              0|                2|               0|Reaction to Uninv...|     4486635|               Sedan|2021-12-14 23:10:00|
|2021-12-11|  19:43:00|        BRONX|   10463|WEST KINGSBRIDGE ...|              1|             0|                  0|                 0|               0|              0|                1|               0|         Unspecified|     4487040|Station Wagon/Spo...|2021-12-11 19:43:00|
|2021-12-13|  06:30:00|       QUEENS|   11372|           82 STREET|              0|             0|                  0|                 0|               0|              0|                0|               0|         Unspecified|     4486967|               Sedan|2021-12-13 06:30:00|
|2021-12-13|  17:40:00|STATEN ISLAND|   10301|   VICTORY BOULEVARD|              1|             0|                  0|                 0|               0|              0|                1|               0|         Unspecified|     4487001|               Sedan|2021-12-13 17:40:00|
|2021-12-14|  17:31:00|     BROOKLYN|   11230|      EAST 18 STREET|              1|             0|                  1|                 0|               0|              0|                0|               0|         Unspecified|     4486516|               Sedan|2021-12-14 17:31:00|
|2021-12-14|  12:54:00|     BROOKLYN|   11217|       FULTON STREET|              1|             0|                  0|                 0|               1|              0|                0|               0|         Unspecified|     4487052|               Sedan|2021-12-14 12:54:00|
|2021-12-14|  17:15:00|     BROOKLYN|   11211|        GRAND STREET|              1|             0|                  0|                 0|               0|              0|                1|               0|Passing or Lane U...|     4486556|                 Bus|2021-12-14 17:15:00|
|2022-04-24|  21:40:00|        BRONX|   10452|      BOSCOBEL PLACE|              0|             0|                  0|                 0|               0|              0|                0|               0| Alcohol Involvement|     4522156|                Taxi|2022-04-24 21:40:00|
|2022-04-24|  17:45:00|        BRONX|   10466| BRONX RIVER PARKWAY|              0|             0|                  0|                 0|               0|              0|                0|               0|Driver Inattentio...|     4521633|               Sedan|2022-04-24 17:45:00|
|2022-04-24|  00:00:00|        BRONX|   10453|MAJOR DEEGAN EXPR...|              0|             0|                  0|                 0|               0|              0|                0|               0|Driver Inattentio...|     4521801|               Sedan|2022-04-24 00:00:00|
|2022-04-24|  15:35:00|    MANHATTAN|   10019|      WEST 56 STREET|              1|             0|                  0|                 0|               1|              0|                0|               0|View Obstructed/L...|     4521853|Station Wagon/Spo...|2022-04-24 15:35:00|
|2022-04-22|  12:00:00|     BROOKLYN|   11230|            AVENUE J|              1|             0|                  0|                 0|               0|              0|                1|               0|         Unspecified|     4522228|               Sedan|2022-04-22 12:00:00|
|2022-04-24|  04:20:00|     BROOKLYN|   11221|       THROOP AVENUE|              1|             0|                  0|                 0|               0|              0|                1|               0|Traffic Control D...|     4522167|Station Wagon/Spo...|2022-04-24 04:20:00|
|2022-04-12|  19:56:00|     BROOKLYN|   11203|        UTICA AVENUE|              1|             0|                  1|                 0|               0|              0|                0|               0|Failure to Yield ...|     4522136|Station Wagon/Spo...|2022-04-12 19:56:00|
|2022-04-24|  15:21:00|       QUEENS|   11101|      THOMSON AVENUE|              1|             0|                  0|                 0|               0|              0|                1|               0|Driver Inattentio...|     4521590|               Sedan|2022-04-24 15:21:00|
|2022-04-24|  21:00:00|       QUEENS|   11106|           21 STREET|              1|             0|                  0|                 0|               0|              0|                1|               0|Driver Inattentio...|     4521684|               Sedan|2022-04-24 21:00:00|
|2022-04-24|  21:40:00|       QUEENS|   11418|      JAMAICA AVENUE|              0|             0|                  0|                 0|               0|              0|                0|               0|Reaction to Uninv...|     4521858|           Ambulance|2022-04-24 21:40:00|
|2022-04-07|  14:14:00|    MANHATTAN|   10017|            1 AVENUE|              0|             0|                  0|                 0|               0|              0|                0|               0|Driver Inattentio...|     4522242|               Sedan|2022-04-07 14:14:00|
+----------+----------+-------------+--------+--------------------+---------------+--------------+-------------------+------------------+----------------+---------------+-----------------+----------------+--------------------+------------+--------------------+-------------------+
only showing top 20 rows

In [16]:
df.count()

1107159

In [17]:
df.printSchema()

root
 |-- crash_date: date (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- street_name: string (nullable = true)
 |-- persons_injured: integer (nullable = true)
 |-- persons_killed: integer (nullable = true)
 |-- pedestrians_injured: integer (nullable = true)
 |-- pedestrians_killed: integer (nullable = true)
 |-- cyclists_injured: integer (nullable = true)
 |-- cyclists_killed: integer (nullable = true)
 |-- motorists_injured: integer (nullable = true)
 |-- motorists_killed: integer (nullable = true)
 |-- contributing_factor: string (nullable = true)
 |-- collision_id: integer (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [18]:
spark.stop()